<!DOCTYPE html>
<html lang="en">
<%-include("partials/head") %>
<body>
    <%-include("partials/nav") %>
    <h1 class="titlePage"><%=title %></h1>
    <% if(locals.user){ %>
        <% if(locals.files) {%>
            <% files.forEach(file => { %>
                
                <div class="folderBlock">
                    <a 
                    href="/file?id=<%=file.id%>">
                    <%=file.name%> </a>
            </div>
            <% }); %>
        <% }%>
    <% }%>
</body>
</html>