<!DOCTYPE html>
<html lang="en">
<%-include("partials/head") %>
<body>
    <%-include("partials/nav") %>
         <% if (locals.user) {%>
    <div class="welcome">
        <h1>WELCOME BACK <span class="user"><%= user.username %></span></h1>
        <a href="/log-out">LOG OUT</a>
        
        <%-include("partials/folderForm") %>
        <% if(locals.folders){ %>
        <% folders.forEach(folder => { %>
            <% 
                 %>
            <div class="folderBlock">

                    <a href="/folder?id=<%=folder.id %>"><%=folder.folderName%></a>
                     <button class="updateBtn" data-id="<%=folder.id %>">Update</button>
                     <a href="/folder/delete?id=<%=folder.id %>"> <button>Delete</button></a>
                     <form hidden="true" class="updateForm" method="post" action="/folder/update?id=<%=folder.id %>" data-id="<%=folder.id %>" >
                          <label for="folder">Update Folder Name:</label>
                          <input type="text" name="folderName" id="folder" required maxlength="15">
                          <button type="submit">Submit update</button>
                     </form>
               
    
            </div>
         
       <% }); %>
        <% } %>
    </div>
  <% }else{  %>
    <h1 class="titlePage">Log In/Sign up to see folders</h1>
    <% } %>

     <script>
        const updateBtn=document.querySelectorAll(".updateBtn");
        const updateForm=document.querySelectorAll(".updateForm");
        updateBtn.forEach((btn)=>{
            btn.addEventListener("click",(e)=>{
            let btnId= e.target.getAttribute('data-id');
            updateForm.forEach((form)=>{
                let formId=form.getAttribute("data-id");
                if(formId == btnId){
                     if(form.hidden ==true){
                        form.hidden=false;
                     }else{
                        form.hidden=true;
                         }
                }
            })
        })
        })
    </script> 
</body>
</html>